<form action="">
    <p>Titulo:</p>
    <input type="text" name="titulo" id="">
    <p>Conteúdo:</p>
    <textarea name="conteudo" id=""></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>