
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Categoria: {{postagem.titulo}}</h5>
        <hr>
        <small class="text-muted">Data de criação: {{postagem.data}}</small>
        <hr>
        <p class="card-text">{{postagem.conteudo}}</p>
    </div>
</div>